footer{
    

  font-family: "majormono";
    position: relative;
    width: 100%;
    background-image: url(../img/ver.png);
  
    
   
     
   
    .footerdiv{
       z-index: 1;
        display: flex;
        justify-content:start;
        flex-direction: column;
        margin-right: 150px;
        padding: 50px;
        padding-left: 160px;
        
        
        
        @include mobile {padding-left: 30px;
        margin-right: 100px;}
    }
    
    .logofooter{font-family: "adega";
    color: #ffffff;
.h23{font-size:larger;}}

    .contactos{padding-top: 40px;
        

    .contacto{
        text-decoration: none;
        font-family: "adega";
        color: white;
      
       
      
        
        .h22{
            font-size: 350%;
           
           padding-top: 2px;
        }
    }
}


.derechos{
    display: flex;
    padding-top: 50px;
    padding-right: 10px;
    justify-content: flex-end;
    align-items:end;
    
    .h33{font-family: "chalk";
color: rgb(255, 255, 255);
font-size: xx-large;}

.pp{font-family: "graphik";
    color: #ffffff;
margin-left: 20px;
font-size: small;}}

}

.boton {

    display: flex;
    justify-content: flex-start;
    padding: 30px;
    padding-left: 1px;
    padding-top: 60px;
    font-family: "graphik";
    .cta-button2 {
        display: inline-block;
        padding: 10px 15px;
        font-size: 10px;
        text-decoration: none;
        background-color:rgb(230, 228, 207);
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        box-shadow: 5px 4px 3px rgb(0, 0, 0);
        text-align: center;
        
        color: #000000;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
    
    @include mobile {width: 100%}}

        .cta-button2:hover {
            background-color:#C5DBF2;
            
            
          }}



    


