
.navbar{
    background-color:transparent;
}
.header{height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;

   
    }
  
          .navbar-brand{
                font-size:xx-large;
                padding-left: 25px;
               
                justify-items: center;
                font-family: "chalk";
                transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
                @include mobile {font-size: x-large;}
           
                a{text-decoration: none;
                color: black;
                justify-content:center;
                
                }
            
          }

               


.navbar-brand:hover{
    transform: scale(1.1);
}

.logos{margin-right: 60px;
    .logoh{padding: 5px;}
    @include mobile{ margin-right: 20px;}
}
.logoheader{width: 15px;transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.logoheader2{ width: 16px;transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;}

.logoheader:hover{transform: scale(1.1);}
.logoheader2:hover{transform: scale(1.1);}

