
.ben1{ width: 100%;
margin-top: 160px;
@include mobile{ margin-top: 80px;
margin-bottom: 190px;}}
.imagensection2{
    width: 100%;
   
    display: flex;
    justify-content: flex-start;
   
    
   
    

   
    
}




.section2 {
    width: 100%;

   
    margin-top: 200px;
    margin-bottom: 100px;
  
    
    
    
    background-color:rgb(255, 255, 255);
    padding: 70px;
    
   
    display: flex;
   
    justify-content: space-between;
    align-items: center;

   
    

    @include mobile{padding: 30px;
        margin-top: 90px;
        padding-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
       
        
    }
    
.state{padding-right:  50px;
  display: flex;
  justify-content: center;
 
    
width: 50%;
@include tablet {padding-right: 15px;}
@include mobile { order: 2;
width: 100%;
margin-top: 40px;}

.stateimg{width: 70%;
border-radius: 5%;}
}


.ben2{
    padding-left: 0px;
    padding-right: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
   justify-content: flex-end;
   @include mobile {width: 100%;
justify-content: flex-start;}
    
    

    .h4section2{ font-family:"adegabold";
        font-size:350%;
    padding-bottom: 20px;
    @include tablet {font-size: 250%;}
    @include mobile {font-size: 250%;
       
    }
    
}

    .p1{
        font-family: "letra";
        font-size: larger;
        font-weight: 500;
    line-height: 1.2;
    
  
display: flex;
justify-content: center;}
    .p2{ font-size: larger;
    font-family: "letra";
    display: flex;
justify-content: center;
font-weight: 500;
    line-height: 1.2;
   
   
}

    @include tablet{

    padding-left:30px;
    padding-right: 30px;
   
    
    }

    @include mobile {
        
         
         padding-left: 10px;
         padding-right: 80px;
         
         
    }
}}


