
.reyes{
   
  
}

.section3 {
    width: 100%;
    display: flex;
    border-radius: 9px;
    padding-bottom: 80px;
  
  .caracteristicas{ width: 100%;
   display: flex;
justify-content: center;}

}

   