.section6{
padding: 50px;
padding-bottom: 0px;
margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {margin-top: 0px;
    padding: 30px;}
    
 
    .actionb{ display: flex;
    flex-direction: column;
   justify-content: center;

    .action{
        font-family: "adegabold";
        display: flex;
        font-size: 350%;
        justify-content: flex-start;
        padding: 70px;
        margin-bottom: 30px;
        text-align: center; @include mobile {margin-bottom: 10px;
        font-size: 250%;}
        
    }
.boton {

    display: flex;
    justify-content: center;
    padding: 30px;
    .cta-button2 {
        display: inline-block;
        padding: 15px 15px;
        font-size: 12px;
        text-decoration: none;
        background-color:rgb(250, 249, 239);
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        box-shadow: 5px 4px 3px rgb(19, 19, 19);
        text-align: center;
        
        color: #000000;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
    
    @include mobile {width: 100%}}

        .cta-button2:hover {
            background-color:#C5DBF2;
            
            
          }

}}}