.section6{
padding: 50px;



background-image: url(../img/ver.png);




    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {
    padding: 30px;}
    
 
    .actionb{ 
   
   justify-content: center;
   margin-top: 150px;
   margin-bottom: 100px;
   @include mobile {margin-top: 100px;
margin-bottom: 50px;}

    .action{
        font-family: "adega";
        font-size: 500%;
        padding: 100px;
        
        color: rgb(255, 255, 255);
         @include mobile {margin-bottom: 10px;
            text-align:start;
        font-size: 280%;
        padding: 40px;
        padding-left: 10px;
   }
   .italic {font-family: "adegaitalic";
padding-left: 0px;}
        
    }


}}