.section6{
padding: 50px;
padding-bottom: 0px;
margin-top: 150px;
margin-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {margin-top: 0px;
    padding: 30px;}
    
 
    .actionb{ 
   
   justify-content: center;

    .action{
        font-family: "adega";
        font-size: 350%;
        padding: 70px;
        margin-bottom: 30px;
         @include mobile {margin-bottom: 10px;
            text-align: center;
        font-size: 250%;
        padding: 40px;
   }
   .italic {font-family: "adegaitalic";
padding-left: 0px;}
        
    }


}}