@font-face {
    font-family: "letra";
    src: url("../fonts/letra.ttf");
}
@font-face {
    font-family: "majormono";
    src: url(../fonts/Raillinc.otf);
}

   @font-face {
    font-family: "chalk";
    src: url(../fonts/Chalk-Regular.ttf);
}

@font-face {
    font-family: "adega";
    src: url(../fonts/adegaserifregular.otf);
}

@font-face {
    font-family: "adegaitalic";
    src: url(../fonts/adegaserifitalic.otf);
}

@font-face {
    font-family: "adegabold";
    src: url(../fonts/adegaserifbold.otf);
}

@font-face {
    font-family: "adegabolditalic";
    src: url(../fonts/adegaserifbolditalic.otf);
}

